
.main {
  margin-top: 5%;
  padding: 0;
}

.uk-card img {
  /* height: 5; */
  width: 100%;
}

hr {
  margin-bottom: 5%;
  width: 100%;
}

.dot {
  height: 20%;
  width: 100%;
  background-color: #2da82f;
  padding-top:4.5%;
  /* padding-left: 0%; */

  /* border-radius: 50%; */
  /* color: white; */
  border-radius: 10%;
  display: inline-block;
}

.uk-card h5 {
  font-size: 20px;
  font-weight: 600;
}

.uk-card-body {
  padding: 40px 30px 40px 30px;
  font-size: 14px;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.results {
  max-width: 100%;
  padding: 0 10% 0 10%;
  margin-bottom: 10%;
}

.results .row {
  padding: 0 0 10px 0;
}

.card-column {
  margin: 0;
  padding:  0px 10px 0px 10px;
}

.rounded-pill {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-sm {
  padding-top: 5%;
}

.uk-offcanvas-bar h3 {
  color: black;
}

.uk-offcanvas-bar h5 {
  color: black;
}

#canFilt:hover {
  color: white !important;
}
