@import "../css/fonts/confortaa.css";

body {
  color: black;
  background-color: white;
  padding: 0px;
  margin: 0px;
  font-family: 'Comfortaa', cursive !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive !important;
}

.navbar-main h1 {
  margin: 0;
}

.navbar-main {
  padding: 1% 2% 1% 2%;
  background-color: white !important;
}

.hamburger {
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.hamburger:hover {
  fill: #539acf;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  /* delay: 10s; */
}

.menubar a {
  font-size: 22px;
  padding-left: 0;
  margin: 0px 0 10px 0;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.menubar a:hover {
  color: #0e76c4 !important;
  text-decoration: underline !important;
  transition-duration: .1s;
  transition-timing-function: ease-in;
}

.active-menu {
  font-weight: bold;
  color: #0e76c4 !important;
  text-decoration: underline !important;
}

.uk-offcanvas-bar *, .uk-offcanvas-bar h2 {
  color: black;
}

.uk-offcanvas-bar h2 {
  /* margin-top: 10%; */
  padding-bottom: 3%;
}

.uk-offcanvas-bar {
  padding-left: 3%;
}

input {
  background-color: white !important;
  color: black !important;
  padding-left: 16px !important;
}

::placeholder { /* Firefox, Chrome, Opera */
    color: #dedede !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #dedede !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #dedede !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#ffffff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#3498db;
}
#scroll:hover {
    background-color: #ededed;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}





/*  */





/*  */
