<!DOCTYPE html>
<p lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sepsis | Cure</title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/uikit.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>
    <script src="../js/libs/mustache.js" charset="utf-8"></script>
    <script src=" ../js/fontawesome.js"></script>

    <!-- UTILITY FUNCTIONS JS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

  </head>

    <body>

    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;" style="margin-bottom:5%">
      <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
        <div class="row" style="width: 100%;">

          <div class="col-2" align="center">
            <h1><a href="landing.html" style="text-decoration: none;color: black;">Sepsis</a></h1>
          </div>
          <div class="col-3" align="center" style="padding-top: .5%;">

          </div>
          <div class="col-2" align="center" style="padding-top: .5%;">
            <h5><span uk-icon="info"><a href="guidelines.html" style="text-decoration: none;color: black;">Guidelines/Training</a></span></h5>
          </div>
          <div class="col-3" align="center" style="padding-top: .5%;">
            <h5><span uk-icon="users"><a href="detection.html" style="text-decoration: none;color: black;">Detection/Prevention</a></span></h5>
          </div>
          <div class="col-2" align="center" style="padding-top: .5%;">
            <h5><span uk-icon="sign-in"><a href="doctor-login-register.html" style="text-decoration: none;color: black;">Login/Register</a></span></h5>
          </div>


        </div>
      </nav>
    </div> <br>
     <!-- ========================================= CONTENT =========================================== -->
     <div class="uk-container">


            <h3 class="uk-h3" style="margin-bottom: 3%;"><strong>How is Sepsis diagnosed?</strong></h3>
            <div class="uk-panel uk-card uk-card-default" style="width: 100%;padding-left: 3%; padding-bottom: 2%;padding-top: 3%;margin-bottom:5%">
                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent"  src="../resources/images/Symptoms/diagnose1.jpg" style="width:400px; height:500px;margin-top:3%;margin-right:3%;" >
                <p style="margin-right: 15%;">
                  <i>If you have symptoms of sepsis, your doctor will order tests to make a diagnosis and determine the severity of your infection.
                  One of the first tests is a blood test. Your blood is checked for complications like:</i> <br><br>

                  1. Infection <br>

                  2. Clotting problems <br>

                  3. Abnormal liver or kidney function <br>

                  4. Decreased amount of oxygen <br>

                  5. An imbalance in minerals called electrolytes that affect the amount of water in your body as well as the acidity of your blood <br><br>

                  <i>Depending on your symptoms and the results of your blood test, your doctor may order other tests, including:</i> <br><br>

                  1. A urine test (to check for bacteria in your urine) <br>

                  2. A wound secretion test (to check an open wound for an infection) <br>

                  3. A mucus secretion test (to identify germs responsible for an infection) <br><br>

                  <i>If your doctor can’t determine the source of an infection using the above tests, they may order an internal view of your body using one of the following: </i><br><br>

                  1. X-rays to view the lungs <br>

                  2. CT scans to view possible infections in the appendix, pancreas, or bowel area <br>

                  3. Ultrasounds to view infections in the gallbladder or ovaries <br>

                  4. MRI scans, which can identify soft tissue infections <br>
              </p>
            </div>

        <hr>

            <h3 class="uk-h3" style="margin-bottom: 3%;"><strong>How is Sepsis treated?</strong></h3>

            <div class="uk-panel uk-card uk-card-default" style="width: 100%;padding-left: 3%; padding-bottom: 2%;padding-top: 3%;margin-bottom:1%">
                <img class="uk-align-left uk-margin-remove-adjacent" src="../resources/images/Symptoms/treatment2.png" style="width:300px; height:450px;margin-top:1%;margin-right:3%;">
                <p style="margin-right: 15%;">
                    Sepsis can quickly progress to septic shock and death if it’s left untreated. Doctors use a number of medications to treat sepsis, including: <br><br>

                    1. Antibiotics via IV to fight infection <br>

                    2. Vasoactive medications to increase blood pressure <br>

                    3. Insulin to stabilize blood sugar <br>

                    4. Corticosteroids to reduce inflammation <br>

                    5. Painkillers <br><br>

                    Severe sepsis may also require large amounts of IV fluids and a respirator for breathing. Dialysis might be necessary if the kidneys are affected. Kidneys help filter harmful wastes, salt, and excess water from the blood. In dialysis, a machine performs these functions.

                    In some cases, surgery may be needed to remove the source of an infection. This includes draining a pus-filled abscess or removing infected tissue.
                </p>
            </div>

            <!-- <div class="row uk-card uk-card-default" style="width: 100%;padding-left: 3%; padding-top: 3%;margin-bottom:5%"> -->

        <!-- </div> -->
         <hr>

            <h3 class="uk-h3" style="margin-bottom: 3%;"><strong>Can you recover from Sepsis?</strong></h3>
            <div class="uk-panel uk-card uk-card-default" style="width: 100%;padding-left: 3%; padding-bottom: 2%;padding-top: 3%;margin-bottom:1%">
                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent"  src="../resources/images/Symptoms/recovery.png" style="width:400px; height:500px;margin-top:1%;margin-right:3%;">
                <p style="margin-right: 15%;">
                    Your recovery from sepsis depends on the severity of your condition and any preexisting conditions you might have. Many people who survive will recover completely. However, others will report lasting effects. <br><br>

                    The UK Sepsis Trust says it can take up to 18 months before survivors start to feel like their normal self. The Sepsis Alliance says that around 50 percent of sepsis survivors deal with post-sepsis syndrome (PSS). The alliance says this condition includes long-term effects such as: <br><br>

                    1. Damaged organs <br>

                    2. Insomnia <br>

                    3. Nightmares <br>

                    4. Disabling muscle and joint pains <br>

                    5. Fatigue <br>

                    6. Poor concentration <br>

                    7. Lowered cognitive functioning <br>

                    8. Lowered self-esteem <br>

                    9. Severe cases of sepsis can lead to death. <br>
                </p>
            </div>
            <!-- <div class="row uk-card uk-card-default" style="width: 100%;padding-left: 3%; padding-top: 3%;margin-bottom:5%"> -->

         <!-- <hr> -->


    </div>

    </body>
