<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sepsis | Homepage</title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/uikit.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>
    <script src="../js/libs/mustache.js" charset="utf-8"></script>
    <script src=" ../js/libs/fontawesome.js" charset="utf-8"></script>

    <!-- UTILITY FUNCTIONS JS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

  </head>

  <body>

    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
      <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
        <div class="row" style="width: 100%;">
          <div class="col-2" align="left" style="padding-left: 4%; padding-top: .5%;">
            <a class="hamburger" uk-icon="icon: menu; ratio: 2" href="#offcanvas-usage" uk-toggle></a>
          </div>
          <div class="col-8" align="center" style="padding-top: .5%;">
            <h1><a style="color:black; text-decoration:none; " href="landing.html">Sepsis</a></h1>
          </div>
            <div class="uk-inline">
              <div class="col-2" align="right">

            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- ========================================= MENU =========================================== -->
    <div id="offcanvas-usage" uk-offcanvas="overlay: true; mode: slide;">
      <div class="uk-offcanvas-bar bg-light">

          <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

          <div class="row" style="margin-top: 20%;">
            <!-- <div class="col-5">

            </div> -->
            <div class="col-12">
              <h2 style="font-size: 35px; text-align: left !important;">
                Sepsis
              </h2>
              <hr style="border-color: grey; margin-bottom: 30px;">
            </div>
          </div>

          <div class="container-fluid menubar">
            <a href="landing.html" class="btn btn-link active-menu" style="color: black;">Home</a><br>
            <!-- <a class="btn btn-link" id="watchingMenu" onclick="Nav.assign('');">Watching</a><br> -->
            <!-- <a class="btn btn-link">My Profile</a><br> -->

            <a href="guidelines.html" class="btn btn-link" style="color: black;">Guidelines/Training</a><br>
            <a href="doctor-login-register.html" class="btn btn-link" style="color: black;">Sign Up/Sign In</a><br>
            <!-- <a href="pdirectory.html" class="btn btn-link" style="color: black;">Patient Directory</a> -->

          </div>
      </div>
  </div>

      <!-- <br> -->

      <div class="container-fluid" align="center" style="margin-top: 0px; margin-bottom: 5%">
        <!-- <iframe width="100%" height="600"
         src="https://www.youtube.com/embed/ImWEixqa4kE?autoplay=1" frameborder="0"
         allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen></iframe> -->
         <video style="height: 620px !important; width: 1000px !important;" autoplay loop muted>
           <source src="../resources/Videos/sepsis-edited.mp4" type="video/mp4"/>
         </video>
         <!-- <iframe width="100%" height="600"
          src="../resources/Videos/sepsis-edited.mp4" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe> -->
      </div>

<!-- ============================= Menu ============================== -->

    <div id="offcanvas-usage" uk-offcanvas="overlay: true; mode: slide;">
      <div class="uk-offcanvas-bar bg-light">

          <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

          <div class="row" style="margin-top: 20%;">
            <!-- <div class="col-5">

            </div> -->
            <div class="col-12">
              <h2>
                Sepsis
              </h2>
              <hr style="border-color: grey; margin-bottom: 30px;">
            </div>
          </div>

          <div class="container-fluid menubar">
            <a href="landing.html" class="btn btn-link" style="color: black;">Home</a><br>
            <!-- <a class="btn btn-link" id="watchingMenu" onclick="Nav.assign('');">Watching</a><br> -->
            <a class="btn btn-link">My Profile</a><br>

            <a href="guidelines.html" class="btn btn-link" style="color: black;">Guidelines/Training</a><br>
            <a href="detection.html" class="btn btn-link" style="color: black;">Detection/Prediction</a><br>
            <a href="pdirectory.html" class="btn btn-link active-menu" style="color: black;">Patient Directory</a>

          </div>
      </div>
    </div>



    <!-- ========================================= ABOUT SEPSIS =========================================== -->

    <div class="uk-container" style="margin-bottom:5%">

        <div class="row" style="width: 100%;">
            <div class="col-6">
                <div class="uk-background-cover" id="example1">
                    <img src="../resources/images/placeholders/users/sepsis3.jpg" alt="image" height="200px" width="100%">
                    <h4 style="text-align: center;"><b>Suspect Sepsis. Save lives. </b> </h4>
                </div>
            </div>
            <div class="col-6">
              <div class="uk-background-muted uk-padding uk-panel rounded" id="example2">
                <p class="uk-h4"><strong>About Sepsis</strong></p>

                <p>
                <span uk-icon="chevron-double-right"></span>Sepsis is a life-threatening illness caused by your body’s response to an infection.
                </p>

                <p>
                <span uk-icon="chevron-double-right"></span> Sepsis develops when the chemicals the immune system releases into the bloodstream
                  to fight an infection cause inflammation throughout the entire body instead.
                </p>

                <p>
                  <span uk-icon="chevron-double-right"></span>There are more than 1.5 million cases of sepsis each year,
                  according to the Centers for Disease Control and Prevention (CDC).
                </p>
                <br>
                <button type="button" class="btn btn-primary"><a href="sepsis.html" style="color:white;text-decoration:none;">Click to know more about Sepsis</a></button>
              </div>
            </div>

        </div>



        <hr style="margin-top:5%">
      </div>

    <!-- ========================================= BI REPORTS =========================================== -->

    <div class="uk-container" style="margin-bottom:5%">

          <div class="row" style="width: 100%;">
            <div class="uk-animation-toggle" tabindex="0" style="margin-left: 30%;">
              <div class="uk-card uk-animation-slide-bottom">
                <h3><b>What top doctor reports say about Sepsis</b></h3> <br><br>
              </div>
            </div>


          <div class="col-6" style="margin-top: 5%;">
            <img src="../resources/images/placeholders/users/graph.png" alt="">
            <div class="uk-background-muted">
              <p class="uk-h5"><i><center>Deaths in USA</center></i></p>
            </div>
          </div>


          <div class="col-6" style="margin-top: 5%;">
            <img src="../resources/images/graph/deaths_in_canada2.png" style="height: 315px;" alt="">
            <div class="uk-background-muted">
              <p class="uk-h5"><i><center>Deaths in Canada</center></i></p>
            </div>
          </div>


          </div>

          <div class="row" style="width: 100%;">

            <div class="col-6" style="margin-top: 11%;">
              <img src="../resources/images/graph/mortality_rate.png" alt="">
              <div class="uk-background-muted">
                <p class="uk-h5"><i><center>Mortality Rate</center></i></p>
              </div>
            </div>


            <div class="col-6" style="margin-top: 5%;">
              <img src="../resources/images/placeholders/users/graph4.jpg" alt="">
              <div class="uk-background-muted">
                <p class="uk-h5"><i><center>Comparison</center></i></p>
              </div>
            </div>


          </div>

          <hr style="margin-top:5%">
    </div>

    <!-- ========================================= Symptom,Prevention,Cure =========================================== -->

    <div class="uk-container" style="margin-bottom:5%">

      <div class="row" style="width: 100%;">
        <div class="uk-animation-toggle" tabindex="0" style="margin-left: 40%;">
          <div class="uk-card uk-animation-slide-bottom">
            <h3><b>Steps to tackle Sepsis</b></h3> <br><br>
          </div>
        </div>

        <div class="uk-child-width-1-2@m" uk-grid>

          <div class="col-4">
              <div class="uk-card uk-card-default uk-card-hover">
                  <div class="uk-card-media-top">
                      <img src="../resources/images/placeholders/users/doctor.jpg" alt="" style="height:200px;">
                  </div>

                  <div class="uk-card-body">
                      <h3 class="uk-card-title">Symptoms</h3>
                      <p><span uk-icon="chevron-double-right"></span>Fever above 101ºF (38ºC) or a temperature below 96.8ºF (36ºC) </p>
                      <p><span uk-icon="chevron-double-right"></span>Heart rate higher than 90 beats per minute <p>
                      <p><span uk-icon="chevron-double-right"></span>Breathing rate higher than 20 breaths per minute </p>
                      <p><span uk-icon="chevron-double-right"></span>Probable or confirmed infection</p>
                      <br>
                      <br>
                      <br>
                      <button type="button" class="btn btn-primary"><a href="symptoms.html" style="color:white;text-decoration:none;">Click to know more</a></button>
                  </div>
              </div>
          </div>

          <div class="col-4">
              <div class="uk-card uk-card-default uk-card-hover">

                  <div class="uk-card-media-bottom">
                  <img src="../resources/images/placeholders/users/prevent.jpg" alt="" style="height:200px;">
                  </div>

                  <div class="uk-card-body">
                      <h3 class="uk-card-title">Prevention</h3>
                      <p><span uk-icon="chevron-double-right"></span>Staying up to date on your vaccinations. Get vaccinated for the flu, pneumonia, and other infections.</p>
                      <p><span uk-icon="chevron-double-right"></span>Practicing good hygiene. This means practicing proper wound care, handwashing, and bathing regularly.</p>
                      <p><span uk-icon="chevron-double-right"></span>Getting immediate care if you develop signs of infection. Every minute counts when it comes to sepsis treatment. The sooner you get treatment, the better the outcome.</p>
                      <button type="button" class="btn btn-primary"><a href="prevention.html" style="color:white;text-decoration:none;">Click to know more</a></button type="button" class="btn btn-primary">
                  </div>
              </div>
          </div>

          <div class="col-4">
            <div class="uk-card uk-card-default uk-card-hover">
              <div class="uk-card-media-top">
                <img src="../resources/images/placeholders/users/medical-device-2.jpg" alt="" style="height:200px;">
              </div>

              <div class="uk-card-body">
                  <h3 class="uk-card-title">Cure</h3>
                  <p><span uk-icon="chevron-double-right"></span>Antibiotics via IV to fight infection </p>
                  <p><span uk-icon="chevron-double-right"></span> Vasoactive medications to increase blood pressure </p>
                  <p><span uk-icon="chevron-double-right"></span>Insulin to stabilize blood sugar </p>
                  <p><span uk-icon="chevron-double-right"></span> Corticosteroids to reduce inflammation </p>
                  <p><span uk-icon="chevron-double-right"></span> Painkillers</p>
                  <br>
                  <br>
                  <button type="button" class="btn btn-primary"><a href="cure.html" style="color:white;text-decoration:none;">Click to know more</a></button type="button" class="btn btn-primary">

              </div>

            </div>
           </div>
      </div>

    </div>

    <hr style="margin-top:5%">
  </div>

  <!-- ========================================= Tackling Sepsis =========================================== -->

  <div class="uk-container" style="margin-bottom:5%">

      <div class="row" style="width: 100%;">
        <div class="uk-animation-toggle" tabindex="0" style="margin-left: 30%;">
          <div class="uk-card uk-animation-slide-bottom">
            <h3><b>How do we contribute to tackling Sepsis</b></h3> <br><br>
          </div>
        </div>
      </div>

        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title" style="margin-bottom: 3%;">Prediction of onset time of sepsis</h3>
          <p>Traditional pathological reports take around 6 hours to confirm if the patient is affected by Sepsis or not.</p>
          <p>6 hours worth of time gets reduced for a patients' chances of survival as the infection damages most of the body by then.</p>
          <p>Our carefully curated data model takes in the input which is the same as required by any testing lab.
          It immediately provides an accurate result thus saving valuable patient time thereby increasing the chances of survival.</p>
          </p>
        </div> <br>

        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title" style="margin-bottom: 3%;">Visualization of Health Parameters</h3>
          <p>A variety of different business intelligence reports consisting of easy-to-visualize charts,graphs and diagrams will help the patient interpret the reports in a better manner.</p>
        </div> <br>

        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title" style="margin-bottom: 3%;">Alerts/Notifications</h3>
          <p>This tab will consist of 2 functionalities - Prescription/Medication and Emergency/Critcial Situations.</p>
          <p>Medication will effectively guide a patient by the doctor online. The patient will not be required to
            regularly go to clinics for checkups or prescriptions.
            The Online platform will be a beneficial replacement for both the doctor and the patient.
          </p>
          <p>
            Emergencies tab is to notify the concerned doctor about the patients' final report and to take the required actions
            immediately.
          </p>
        </div> <br>
        <hr style="margin-top:5%">
    </div>


    <!-- ========================================= Articles =========================================== -->


    <div class="uk-container" style="margin-bottom:5%">
      <div class="row">
        <div class="uk-animation-toggle" tabindex="0" style="margin-left: 40%;">
          <div class="uk-card uk-animation-slide-bottom ">
            <h3><b>Top Articles on Sepsis</b></h3> <br><br>
          </div>
        </div>


        <div id="newsDiv" class="row" style="width: 100%;">
        </div>

        </div>
        </div>

    <!-- ========================================= Footer =========================================== -->
    <a href="#" id="scroll" style="display: none;"><span></span></a>

    <div class="footer" style="margin-top:1%;">
         <div class="container">
            <h4><strong>Find us at:</strong></h4>
            <hr>
          <div id="map" class="map"></div>
    </div>


  <div class="container" style="margin-top:2%;">
    <div class="row">
    <!-- <div class="col-12"> -->

        <div class="col-3">
          <div style="font-size:20px;margin-top: 10%;text-align:center;"> <b>Patient Reach</b></div> <hr>
          <ul style="font-size:16px;list-style-type: none;">
            <li style="padding:2%;padding-bottom:3%;">Contact us</li>
              <ul style="font-size:16px;list-style-type: none;">
                <li><a href="tel:+91-9821028822" style="text-decoration: none;color:black;padding-bottom:10px;" class="fa fa-phone"> We would love to hear from you </a></li>
                <li><a href="mailto:rpcdrv@gmail.com" style="text-decoration: none;color:black;" class="fa fa-envelope"> Email us </a></li>
              </ul>
            <!-- <li style="padding:2%;padding-bottom:5%;padding-top:5%;">Technical Help</li> --> <br>
            <li style="padding:2%;padding-bottom:5%;"><a style="text-decoration: none; color: black;" target="_blank" href="https://app.termly.io/document/terms-of-use-for-ecommerce/67bf223c-0226-429e-af02-de4d5235b20e">Terms of use</a></li>
          </ul>
        </div>
        <div class="col-1">

        </div>

        <div class="col-3">
          <div style="font-size:20px;margin-top: 10%;text-align:center;"><b>Stay in Touch</b></div> <hr>
          <ul style="font-size:16px;list-style-type: none;">
              <li style="padding:10px;" class="fa fa-facebook-official"> Facebook </li> <br>
              <li style="padding:10px;" class="fa fa-twitter"> Twitter</li> <br>
              <li style="padding:10px;"class="fa fa-instagram"> Instagram</li> <br>

          </ul>
        </div>

          <div class="col-1">

          </div>

          <div class="col-3">
            <div style="font-size:20px;margin-top: 17%;"><b>Newsletter Signup</b> <hr>
              <p style="font-size:15px;" class="fa fa-newspaper-o">Subscribe to our newsletter for more updates </p>
              <div>
                <input style="padding:3%;" type="email" placeholder="Your Email ID"  onkeydown="if (event.keyCode == 13) { if(!checkEmail(this.value)) { alert('Please enter valid email address') } else { alert('Thanks for subscribing!'); } }"/>
              </div>
            </div>


        </div>
  <!-- </div> -->
        </div>
        <div style="font-size: 14px; margin-top: 2%; float: right;">
          &copy; 2020 Sepsis Hack
        </div>
        </div>

      </div>

    <!-- <script src="../js/landing.js" charset="utf-8"></script> -->
    <script src="../js/napi.js" charset="utf-8"></script>
    <script src="../js/scroll.js" charset="utf-8"></script>


     </div>
    </div>
  </body>
</html>
