<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sepsis | Patient </title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href=" ../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href=" ../css/libs/uikit.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href=" ../css/master.css">
    <link rel="stylesheet" href=" ../css/user_profile.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>

    <!-- UTILITY FUNCTIONS JS IMPORT -->
    <script src=" ../js/utils.js" charset="utf-8"></script>
    <!-- <script src="../js/patient_edit.js" charset="utf-8"></script> -->
  </head>
  <body>


    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
      <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
        <div class="row" style="width: 100%;">
          <div class="col-2" align="left" style="padding-left: 4%; padding-top: .5%;">
            <a class="hamburger" uk-icon="icon: menu; ratio: 2" href="#offcanvas-usage" uk-toggle></a>
          </div>
          <div class="col-8" align="center" style="padding-top: .5%;">
            <h1><a style="color:black; text-decoration:none;" href="landing.html">Sepsis</a></h1>
          </div>
            <div class="uk-inline">
              <div class="col-2" align="right">
                <button class="btn btn-secondary rounded-pill" type="button" >
                  <div class="row">
                    <div class="col-4" style="padding-left: 0;">

                      <img src="../resources/images/placeholders/users/user-white.png" alt="" class="rounded-circle" style="max-width: 50px;">
                    </div>
                    <div class="col-8" align="center">
                      <div style="padding-top: 50%; padding-left:30%;"><a style="color:#ffffff;" href="pdirectory.html">Profile</a></div>
                    </div>
                  </div>
              </button>

            </div>
          </div>
        </div>
      </nav>
    </div>



    <!-- ========================================= MENU =========================================== -->
    <div id="offcanvas-usage" uk-offcanvas="overlay: true; mode: slide;">
        <div class="uk-offcanvas-bar bg-light">

            <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

            <div class="row" style="margin-top: 20%;">

              <div class="col-12">
                <h2>
                  Sepsis
                </h2>
                <hr style="border-color: grey; margin-bottom: 30px;">
              </div>
            </div>

            <div class="container-fluid menubar">
              <a class="btn btn-link ">Home</a><br>
              <!-- <a class="btn btn-link" id="watchingMenu" onclick="Nav.assign('');">Watching</a><br> -->
              <a class="btn btn-link">My Profile</a><br>

              <a class="btn btn-link">Guidelines/Training</a><br>
              <a class="btn btn-link">Detection/Prediction</a><br>
              <a class="btn btn-link active-menu">Patient Directory</a>

            </div>
        </div>
    </div>


    <!-- ========================================= USER PROFILE VIEW =========================================== -->

    <!-- <input type="file" class=".d-none" id="profImgUpload" name="" value=""> -->

    <div class="main">
      <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-12">
              <h2 align="center" style="margin: 0; padding: 0;margin-bottom: 7%;">Patient Profile</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid results" style="margin-bottom:5%;">
        <div class="row">
          <div class="col-3">
            <input type="file" class=".d-none hidden" id="profImgUpload" name="" value="" onchange="readURL(this);">
              <div class="uk-inline uk-light">
                <img id="imgDisplay" src="../resources/images/placeholders/users/user-white.png" alt="">
                <div class="uk-position-center">
                  <span uk-overlay-icon id="profImg" class="bg-dark rounded-circle shadow" style="padding: 10px;" onclick="$('#profImgUpload').click();"></span>
                </div>
              </div>
          </div>
          <div class="col-9" style="padding:20px;">
            <div class="row">
              <div class="col-10">
                <h4><strong>General Details</strong></h4>
              </div>
              <div class="col-1">
                <!-- <a href="btn btn-link">Save</a> -->
              </div>
              <div class="col-1">
                <!-- <a href="btn btn-link" style="color:#FF0000;">Cancel</a> -->
              </div>
            </div>
            <hr>
            <!-- <form action="index.html" method="post"> -->
              <!-- <label>Fullname: </label> -->
              <div class="row">
                <div class="col-3">
                  Firstname:
                </div>
                <div class="col-9">
                  <input type="text" id="fname" class="uk-input rounded" placeholder="Firstname"><br>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  Lastname:
                </div>
                <div class="col-9">
                  <input type="text" id="lname" class="uk-input rounded" placeholder="Lastname"><br>
                </div>
              </div>
              <!-- <label>Username: </label> -->
              <!-- <div class="row">
                <div class="col-3">
                  Username:
                </div>
                <div class="col-9">
                  <input type="text"  class="uk-input rounded" placeholder="username" ><br>
                </div>
              </div> -->

              <div class="row">
                <div class="col-3">
                  Gender:
                </div>
                <div class="col-9">
                  <select class="uk-input rounded" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  Date Of Birth:
                </div>
                <div class="col-9">
                  <input type="date" id="dob" class="uk-input rounded"><br>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-3">
                  Email:
                </div>
                <div class="col-9">
                  <input type="email"  class="uk-input rounded" placeholder="abc@xyz.com"><br>
                </div>
              </div> -->
              <div class="row">
                <div class="col-3">
                  Contact Number:
                </div>
                <div class="col-9">
                  <input type="number" id="phone" class="uk-input rounded" placeholder="Contact Number"><br>
                </div>
              </div>

            <!-- </form> -->
          </div>
        </div>
      </div>
      <div class="container-fluid results" style="margin-bottom:8%;">
        <div class="row" style="margin:0px;">
          <div class="col-3">
            <div class="row">
              <div class="col-10">
                <h4><strong>Medical Details</strong></h4>
              </div>
            </div>
          </div>
          <div class="col-9">
          </div>
        </div>
        <hr>
        <div class="row">

          <div class="col-3">
            Blood Group:
          </div>
          <div class="col-7">
            <input type="text" id="bgroup" class="uk-input rounded" placeholder=" A+ , A- etc"><br>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Medical History:
          </div>

          <div class="col-7">
            <input type="text" id="medhist" class="uk-input rounded" placeholder="Diabetes etc"><br>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Reason of admitants:
          </div>
          <div class="col-7">
            <input type="text" id="roa" class="uk-input rounded" placeholder="High BP etc"><br>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Allergies:
          </div>
          <div class="col-7">
            <input type="text" id="allergies" class="uk-input rounded" placeholder="Dust Allergy etc"><br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container" align="center" style="margin-bottom: 10%;">
          <!-- <button class="btn btn-lg btn-primary"  type="button" name="button"></button> -->
          <button class="btn btn-lg btn-primary" id="submitBtn" type="button" name="button">Submit</button>
        </div>
      </div>
    </div>

    <!-- </div> -->

  <script src="../js/patient-register.js" charset="utf-8"></script>

  </body>
</html>
