<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sepsis | Patient Profile</title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href=" ../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href=" ../css/libs/uikit.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href=" ../css/master.css">
    <link rel="stylesheet" href=" ../css/user_profile.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src=" ../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src=" ../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src=" ../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src=" ../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src=" ../js/libs/popper.min.js" charset="utf-8"></script>
    <script src=" ../js/libs/mustache.js" charset="utf-8"></script>


    <!-- UTILITY FUNCTIONS JS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

  </head>
  <body>


    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
      <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
        <div class="row" style="width: 100%;">
          <div class="col-2" align="left" style="padding-left: 4%; padding-top: .5%;">
            <a class="hamburger" uk-icon="icon: menu; ratio: 2" href="#offcanvas-usage" uk-toggle></a>
          </div>
          <div class="col-7" align="center" style="padding-top: .5%;">
            <h1>Sepsis</h1>
          </div>
            <div class="uk-inline">
              <div class="col-4" align="right">
                <button class="btn btn-secondary rounded-pill" type="button">
                  <div class="row">
                    <div class="col-4" style="padding-left: 0;">
                      <img src=" ../resources/images/placeholders/users/user-white.png" alt="" class="rounded-circle" style="max-width: 50px;">
                    </div>
                    <div class="col-8" align="center">
                      <div style="padding-top: 50%; padding-left:30%; ">Profile</div>
                    </div>
                  </div>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </div>


    <!-- ========================================= MENU =========================================== -->
    <div id="offcanvas-usage" uk-offcanvas="overlay: true; mode: slide;">
        <div class="uk-offcanvas-bar bg-light">

            <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

            <div class="row" style="margin-top: 20%;">
              <!-- <div class="col-5">

              </div> -->
              <div class="col-12">
                <h2>
                  Sepsis
                </h2>
                <hr style="border-color: grey; margin-bottom: 30px;">
              </div>
            </div>

            <div class="container-fluid menubar">
              <a href="landing.html" class="btn btn-link" style="color: black;">Home</a><br>
              <!-- <a class="btn btn-link" id="watchingMenu" onclick="Nav.assign('');">Watching</a><br> -->
              <a class="btn btn-link">My Profile</a><br>

              <a href="guidelines.html" class="btn btn-link" style="color: black;">Guidelines/Training</a><br>
              <a href="detection.html" class="btn btn-link" style="color: black;">Detection/Prediction</a><br>
              <a href="pdirectory.html" class="btn btn-link active-menu" style="color: black;">Patient Directory</a>

            </div>
        </div>
    </div>



    <!-- ========================================= USER PROFILE VIEW =========================================== -->
    <div class="main">

      <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-12">
              <h2 align="center" style="margin: 0; padding: 0;">My Profile</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="patient_profile">
      <div class="container" align="center" style="padding-top: 10%;">
        <div uk-spinner="ratio: 5"></div>
      </div>
    <!-- </script> -->
    </div>


  <script type="text/template" id="patient_profile">
    <div class="container-fluid results">
      <div class="row">
        <div class="col-3" style="padding-top: 9%;">

          <img src="../resources/images/placeholders/users/user-black.png">
        </div>
        <div class="col-9" style="padding:20px;">
          <div class="row">
            <div class="col-10">
              <h4><strong>General Details</strong></h4>
            </div>
            <div class="col-2">
              <a href="patient_edit.html">Edit</a>
            </div>
          </div>
          <hr>
          <!-- <script type="text/template" id="patient_profile"> -->
          <div>
            <div class="row">
              <div class="col-3 text-muted">
                <i>Firstname:</i>
              </div>
              <div class="col-9">
                {{ fname }}
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-muted">
                <i>Lastname:</i>
              </div>
              <div class="col-9">
                {{ lname }}
              </div>
            </div>
            <!-- <label>Username: </label> -->
            <!-- <div class="row">
              <div class="col-3 text-muted">
                <i>Username:</i>
              </div>
              <div class="col-9">
                {{ username }}
              </div>
            </div> -->

            <div class="row">
              <div class="col-3 text-muted">
                <i>Gender:</i>
              </div>
              <div class="col-9">
                {{ gender }}
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-muted">
                <i>Date Of Birth:</i>
              </div>
              <div class="col-9">
                {{ dob }}
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-muted">
                <i>Email:</i>
              </div>
              <div class="col-9">
                {{ email }}
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-muted">
                <i>Contact Number:</i>
              </div>
              <div class="col-9">
                {{ phone }}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid results">
      <div class="row" style="margin:0px;">
        <div class="col-3">
          <div class="row">
            <div class="col-10">
              <h4><strong>Medical Details</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-9">
        </div>
      </div>
      <hr>
      <div class="row">

        <div class="col-3">
          Blood Group:
        </div>
        <div class="col-7">
          {{ blood_group }}
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          Medical History:
        </div>

        <div class="col-7">
          <!-- <input type="text" class="uk-input rounded" placeholder="Diabetes etc"><br> -->
          {{ medical_hist }}
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          Current Medical Problems:
        </div>
        <div class="col-7">
          <!-- <input type="text" class="uk-input rounded" placeholder="High BP etc"><br> -->
          {{ curr_medical_prob }}
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          Allergies:
        </div>
        <div class="col-7">
          <!-- <input type="text" class="uk-input rounded" placeholder="Dust Allergy etc"><br> -->
          {{ allergies }}
        </div>
      </div>
    </div>
    <div class="container-fluid results">
      <div class="row" style="margin:0px;">
        <div class="col-3">
          <div class="row">
            <div class="col-10">
              <h4><strong>Records Details</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-7">
        </div>
        <div class="col-2">
          <a class="uk-button uk-button-default uk-input rounded btn btn-outline-primary rounded-pill" href="#modal-center" uk-toggle>Add</a>
          <div id="modal-center" class="uk-flex-top" uk-modal>
              <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                  <button class="uk-modal-close-default" type="button" uk-close></button>
                  <p>
                      <div class="row" style="margin-bottom:10px;">
                        <div class="col-5">
                          Title:
                        </div>
                        <div class="col-7">


                          <input type="text" class="uk-input rounded" placeholder=" Record Name"><br>
                        </div>
                      </div>
                      <!-- <div class="row" style="margin-bottom:10px;margin-top:10px;">
                        <div class="col-5">
                            Date:
                        </div>
                        <div class="col-7">
                          <input type="date" class="uk-input rounded" placeholder="Date"><br>
                        </div>
                      </div> -->
                      <div class="row" style="margin-bottom:10px;margin-top:10px;">
                        <div class="col-5">
                          Upload Report:
                        </div>
                        <div class="col-7">
                          <input type="file" class="d.none" ><br>
                        </div>
                      </div>
                  </p>
                  <p class="uk-text-right">
                      <button class="uk-button uk-button-primary rounded-pill" type="button">Save</button>
                  </p>
              </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <!-- <div class="col-3">
          Title:
        </div>
        <div class="col-7">
          <input type="text" class="uk-input rounded" placeholder=" Record Name"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
            Date:
        </div>
        <div class="col-3">
          <input type="date" class="uk-input rounded" placeholder="Date"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          Upload Report:
        </div>
        <div class="col-3">
          <input type="file" class="d.none" ><br>
        </div>
      </div> -->
      <table class="uk-table uk-table-hover uk-table-divider" style="margin-left:30px; margin-right:30px">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Uploaded File</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>14/9/1999</td>
            <td>High</td>
            <td> <a href="#">View report</a> </td>
          </tr>
          <tr>
            <td>13/9/1999</td>
            <td>Loose</td>
            <td> <a href="#">View report</a> </td>
          </tr>
          <tr>
            <td>12/9/1999</td>
            <td>Higher</td>
            <td> <a href="#">View report</a> </td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>
  </script>





    <!-- CUSTOM JS IMPORT -->
    <script src=" ../js/patient_fetch.js" charset="utf-8"></script>



  </body>
</html>
