<!DOCTYPE html>
<html>
<p lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sepsis | Prevention</title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/uikit.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>
    <script src="../js/libs/mustache.js" charset="utf-8"></script>
    <script src=" ../js/fontawesome.js"></script>

    <!-- UTILITY FUNCTIONS JS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

    </head>

    <body>

    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;" style="margin-bottom:0.75%">
       <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
         <div class="row" style="width: 100%;">

           <div class="col-2" align="center" style="padding-top: .5%;">
               <h1>Sepsis</h1>
           </div>
           <div class="col-3" align="center" style="padding-top: .5%;">

           </div>
           <div class="col-2" align="center" style="padding-top: .5%;">
               <h5><span uk-icon="info">Guidelines/Training</span></h5>
           </div>
           <div class="col-3" align="center" style="padding-top: .5%;">
               <h5><span uk-icon="users">Detection/Prevention</span></h5>
           </div>
           <div class="col-2" align="center" style="padding-top: .5%;">
             <h5><span uk-icon="sign-in">Login/Register</span></h5>
           </div>


         </div>
       </nav>
     </div> <br>

     <!-- ========================================= CONTENT =========================================== -->
     <div class="uk-container">

         <div class="row uk-card uk-card-default" style=" width: 100%;margin-bottom:5%;">  

            <h3 class="uk-h3 uk-card" style="margin-bottom: 3%;"><strong>Prevention</strong></h3>
            <p style="margin-right: 15%;">
                 Taking steps to prevent the spread of infection can reduce your risk of developing sepsis. These include: <br><br>
                1. Staying up to date on your vaccinations. Get vaccinated for the flu, pneumonia, and other infections. <br>
                2. Practicing good hygiene. This means practicing proper wound care, handwashing, and bathing regularly. <br>
                3. Getting immediate care if you develop signs of infection. Every minute counts when it comes to sepsis treatment. The sooner you get treatment, the better the outcome. <br>
                4. Stay Up-to-Date With Vaccinations <br>
                5. Seek Treatment for Possible Infections <br>
                6. Take Antibiotics as Directed <br>
                7. Wash Your Hands and Practice Good Hygiene <br>
                8. Take Proper Care of Wounds <br>
            </p>
        </div> <hr>

    </div>

    </body>
</html>
