<!DOCTYPE html>
<html>
<p lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sepsis | Prevention</title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/uikit.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>
    <script src="../js/libs/mustache.js" charset="utf-8"></script>
    <script src=" ../js/fontawesome.js"></script>

    <!-- UTILITY FUNCTIONS JS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

    </head>

    <body>

    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
      <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
        <div class="row" style="width: 100%;">
          <div class="col-2" align="left" style="padding-left: 4%; padding-top: .5%;">
            <a class="hamburger" uk-icon="icon: menu; ratio: 2" href="#offcanvas-usage" uk-toggle></a>
          </div>
          <div class="col-8" align="center" style="padding-top: .5%;">
            <!-- <h1>Sepsis</h1> -->
            <h1><a style="color:black; text-decoration:none;" href="landing.html">Sepsis</a></h1>
          </div>
            <div class="uk-inline">
              <div class="col-2" align="right">

            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- ========================================= MENU =========================================== -->
    <div id="offcanvas-usage" uk-offcanvas="overlay: true; mode: slide;">
      <div class="uk-offcanvas-bar bg-light">
        <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>
        <div class="row" style="margin-top: 20%;">
            <!-- <div class="col-5">

            </div> -->
          <div class="col-12">
            <h2>
              Sepsis
            </h2>
            <hr style="border-color: grey; margin-bottom: 30px;">
          </div>
        </div>
        <div class="container-fluid menubar">
          <a href="landing.html" class="btn btn-link" style="color: black;">Home</a><br>
          <!-- <a class="btn btn-link" id="watchingMenu" onclick="Nav.assign('');">Watching</a><br> -->
          <a href="doctor_profile.html" class="btn btn-link" style="color: black;">My Profile</a><br>

          <a href="guidelines.html" class="btn btn-link" style="color: black;">Guidelines/Training</a><br>
          <a href="detection.html" class="btn btn-link " style="color: black;">Detection/Prediction</a><br>
          <a href="pdirectory.html" class="btn btn-link" style="color: black;">Patient Directory</a>

        </div>
      </div>
    </div>

     <!-- ========================================= CONTENT =========================================== -->
     <div class="uk-container-fluid" style="padding: 0 10% 3% 11%; margin-top:5%;">
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: fade">

            <ul class="uk-slideshow-items">
               <li>
                   <img  height="500px" src="../resources/images/Symptoms/prevention1.jpg" alt="" uk-cover>
                   <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                       <h3 class="uk-margin-remove">Prevention</h3>
                       <p class="uk-margin-remove">Taking steps to prevent the spread of infection can reduce your risk of developing sepsis. These include:</p>

                   </div>
               </li>
               <!-- <li>
                   <img src="images/dark.jpg" alt="" uk-cover>
                   <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                       <h3 class="uk-margin-remove">Bottom</h3>
                       <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                   </div>
               </li>
               <li>
                   <img src="images/light.jpg" alt="" uk-cover>
                   <div class="uk-overlay uk-overlay-primary uk-position-right uk-text-center uk-transition-slide-right uk-width-medium">
                       <h3 class="uk-margin-remove">Left</h3>
                       <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                   </div>
               </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a> -->

            </div>
            <!-- <h3 class="uk-h3" style="margin-bottom: 3%;margin-left: 3%;"><strong>Prevention</strong></h3>
            <p style="margin-right: 15%;margin-left: 3%;"> -->
            <div class="row uk-card uk-card-default" style="width: 100%;padding-left: 3%;padding-top: 3%;margin-top: 5%;margin-left: 0.15%;margin-bottom:5%">
                1. Staying up to date on your vaccinations. Get vaccinated for the flu, pneumonia, and other infections. <br>
                2. Practicing good hygiene. This means practicing proper wound care, handwashing, and bathing regularly. <br>
                3. Getting immediate care if you develop signs of infection. Every minute counts when it comes to sepsis treatment.
                   The sooner you get treatment, the better the outcome. <br>
                4. Stay Up-to-Date With Vaccinations <br>
                5. Seek Treatment for Possible Infections <br>
                6. Take Antibiotics as Directed <br>
                7. Wash Your Hands and Practice Good Hygiene <br>
                8. Take Proper Care of Wounds <br>
            </p>
        </div> <hr>

    </div>

    </body>
</html>
