<!DOCTYPE html>
<html>
<p lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sepsis | Prevention</title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/uikit.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>
    <script src="../js/libs/mustache.js" charset="utf-8"></script>
    <script src=" ../js/fontawesome.js"></script>

    <!-- UTILITY FUNCTIONS JS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

    </head>

    <body>

    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;" style="margin-bottom:0.75%">
       <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
         <div class="row" style="width: 100%;">

           <div class="col-2" align="center" style="padding-top: .5%;">
               <h1>Sepsis</h1>
           </div>
           <div class="col-3" align="center" style="padding-top: .5%;">

           </div>
           <div class="col-2" align="center" style="padding-top: .5%;">
               <h5><span uk-icon="info">Guidelines/Training</span></h5>
           </div>
           <div class="col-3" align="center" style="padding-top: .5%;">
               <h5><span uk-icon="users">Detection/Prevention</span></h5>
           </div>
           <div class="col-2" align="center" style="padding-top: .5%;">
             <h5><span uk-icon="sign-in">Login/Register</span></h5>
           </div>


         </div>
       </nav>
     </div> <br>

     <!-- ========================================= CONTENT =========================================== -->
     <div class="uk-container">

        <div class="row" style="width: 100%;margin-bottom:5%">

            <h3 class="uk-h3 " style="margin-bottom: 3%;"><strong>Prevention</strong></h3>
            <p style="margin-right: 15%;">
                Sepsis is a life-threatening illness caused by your body’s response to an infection. Your immune system protects you from many illnesses and infections, but it’s also possible for it to go into overdrive in response to an infection.
                Sepsis develops when the chemicals the immune system releases into the bloodstream to fight an infection cause inflammation throughout the entire body instead. Severe cases of sepsis can lead to septic shock, which is a medical emergency.
                There are more than 1.5 million cases of sepsis each year, according to the Centers for Disease Control and Prevention (CDC)Trusted Source. This type of infection kills more than 250,000 Americans a year.
            </p>
        </div> <hr>

    </div>

    </body>
</html>
