<!DOCTYPE html>
<p lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sepsis | Information</title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/uikit.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>
    <script src="../js/libs/mustache.js" charset="utf-8"></script>
    <script src=" ../js/fontawesome.js"></script>

    <!-- UTILITY FUNCTIONS JS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

  </head>

  <body>

    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;" style="margin-bottom:0.75%">
       <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
         <div class="row" style="width: 100%;">

           <div class="col-2" align="center" style="padding-top: .5%;">
               <h1>Sepsis</h1>
           </div>
           <div class="col-3" align="center" style="padding-top: .5%;">

           </div>
           <div class="col-2" align="center" style="padding-top: .5%;">
               <h5><span uk-icon="info">Guidelines/Training</span></h5>
           </div>
           <div class="col-3" align="center" style="padding-top: .5%;">
               <h5><span uk-icon="users">Detection/Prevention</span></h5>
           </div>
           <div class="col-2" align="center" style="padding-top: .5%;">
             <h5><span uk-icon="sign-in">Login/Register</span></h5>
           </div>


         </div>
       </nav>
     </div> <br>

     <!-- ========================================= CONTENT =========================================== -->
     <div class="uk-container" style="margin-top:1%;">

        <div class="row uk-card uk-card-default" style=" width: 100%;margin-bottom:5%;">

            <h3 class="uk-h3" style="margin-bottom: 3%;margin-left: 3%; "><strong>Overview</strong></h3>
            <p style="margin-right: 10%; margin-left: 3%;">
                Sepsis is a life-threatening illness caused by your body’s response to an infection. Your immune system protects you from many illnesses and infections, but it’s also possible for it to go into overdrive in response to an infection.
                Sepsis develops when the chemicals the immune system releases into the bloodstream to fight an infection cause inflammation throughout the entire body instead. Severe cases of sepsis can lead to septic shock, which is a medical emergency.
                There are more than 1.5 million cases of sepsis each year, according to the Centers for Disease Control and Prevention (CDC)Trusted Source. This type of infection kills more than 250,000 Americans a year.
            </p>
        </div> <hr>

        <div class="row uk-card uk-card-default" style="width: 100%;margin-bottom: 5%;">
            <h3 class="uk-h3" style="margin-bottom: 3%;margin-left: 3%;"><strong>The serious effects of sepsis</strong></h3>
            <p style="margin-right: 10%;margin-left: 3%;">
                Although sepsis is potentially life-threatening, the illness ranges from mild to severe. There’s a higher rate of recovery in mild cases.
                Septic shock has close to a 50 percent mortality rate, according to the Mayo Clinic. Having a case of severe sepsis increases your risk of a future infection.
                Severe sepsis or septic shock can also cause complications. Small blood clots can form throughout your body. These clots block the flow of blood and oxygen to vital organs and other parts of your body. This increases the risk of organ failure and tissue death (gangrene).
            </p>
        </div> <hr>

        <div class="row uk-card uk-card-default" style="width: 100%;margin-bottom:5%">
            <h3 class="uk-h3" style="margin-bottom: 3%;margin-left: 3%;"><strong>Who is at risk for sepsis?</strong></h3>
            <p style="margin-right: 10%;margin-left: 3%;">
                Although some people have a higher risk of infection, anyone can get sepsis. People who are at risk include: <br>
                    1. Young children and seniors <br>
                    2. People with weaker immune systems, such as those with HIV or those in chemotherapy treatment for cancer <br>
                    3. People being treated in an intensive care unit (ICU) <br>
                    4. People exposed to invasive devices, such as intravenous catheters or breathing tubes <br>
            </p>
        </div> <hr>

        <div class="row uk-card uk-card-default" style="width: 100%;margin-bottom:5%">
            <h3 class="uk-h3" style="margin-bottom: 3%;margin-left: 3%;"><strong>Sepsis criteria</strong></h3>
            <p style="margin-right: 10%;margin-left: 3%;">
                There are two tools, or sets of criteria, doctors use to determine the severity of your condition. <br> <br>

                One is the systemic inflammatory response syndrome (SIRS). SIRS is defined when you meet two or more of the following criteria: <br><br>
                1. Fever of more than 100.4°F (38°C) or less than 96.8°F (36°C) <br>
                2. Heart rate of more than 90 beats per minute <br>
                3. Respiratory rate of more than 20 breaths per minute or arterial carbon dioxide tension (PaCO2) of less than 32 mm Hg <br>
                4. Abnormal white blood cell count <br><br>

                Another tool is the quick sequential organ failure assessment (qSOFA). It uses the results of three criteria: <br><br>
                1. Low blood pressure reading <br>
                2. High respiratory rate (greater than 22 breaths per minute) <br>
                3. Glasgow coma scale score of less than 15 (This scale is used to determine your level of consciousness.) <br>
                4. A positive qSOFA is determined if two or more of the above measurements are abnormal. Some physicians prefer using qSOFA because unlike the SIRS criteria, qSOFA doesn’t require laboratory tests. The results of either of these assessments will help your doctor determine care.
            </p>
        </div> <hr>

        <div class="row uk-card uk-card-default" style="width: 100%;margin-bottom:5%">
            <h3 class="uk-h3" style="margin-bottom: 3%;margin-left: 3%;"><strong>Outlook</strong></h3>
            <p style="margin-right: 10%;margin-left: 3%;">
                It’s important to remember that sepsis is a medical emergency. Every minute and hour counts, especially since the infection can spread quickly. There’s no one symptom of sepsis, but rather it has a combination of symptoms.
                Get immediate medical attention if you suspect that you have sepsis, especially if you have a known infection.
            </p>
        </div> <hr>

    </div>
    </body>
