<!DOCTYPE html>
<p lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sepsis | Symptoms</title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/uikit.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>
    <script src="../js/libs/mustache.js" charset="utf-8"></script>
    <script src="../js/fontawesome.js" charset="utf-8"></script>

    <!-- UTILITY FUNCTIONS JS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

  </head>

  <body>

    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;" style="margin-bottom:0.75%">
       <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
         <div class="row" style="width: 100%;">

           <div class="col-2" align="center" style="padding-top: .5%;">
               <h1><a href="landing.html" style="text-decoration: none;color: black;">Sepsis</a></h1>
           </div>
           <div class="col-3" align="center" style="padding-top: .5%;">

           </div>
           <div class="col-2" align="center" style="padding-top: .5%;">
               <h5><span uk-icon="info">Guidelines/Training</span></h5>
           </div>
           <div class="col-3" align="center" style="padding-top: .5%;">
               <h5><span uk-icon="users">Detection/Prevention</span></h5>
           </div>
           <div class="col-2" align="center" style="padding-top: .5%;">
             <h5><span uk-icon="sign-in"><a href="doctor-login-register.html" style="text-decoration: none;color: black;">Login/Register</a></span></h5>
           </div>


         </div>
       </nav>
     </div> <br>

     <!-- ========================================= CONTENT =========================================== -->
      <div class="uk-container">




       <div class="row " style="width: 100%;">
            <h3 class="uk-h3" style="margin-bottom: 3%;margin-left: 3%;"><strong>Sepsis Symptoms</strong></h3>
            <p style="margin-right: 10%;margin-left: 3%;">
                There are three stages of sepsis: sepsis, severe sepsis, and septic shock. Sepsis can happen while you’re still in the hospital recovering from a procedure, but this isn’t always the case.

                It’s important to seek immediate medical attention if you have any of the below symptoms. The earlier you seek treatment, the greater your chances of survival. <br> <br>

            <img style="width:800px; height:400px; margin: 3% 10% 0 10% ;" src="../resources/images/Symptoms/Symptoms5.jpg" >
      </div>

        <!-- <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

      <ul class="uk-slideshow-items">
          <li>
          </li>
          <li>
              <img src="../resources/images/Symptoms/Symptoms6.jpg" alt="" uk-cover>
          </li>

      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

  </div> -->

           <div class="uk-card uk-card-default" style="margin-bottom:5%;padding-left: 3%;padding-top: 3%;width: 100%;">
           <b>Sepsis</b> ‌<br> <br>

            <i>Symptoms of sepsis include:</i> <br><br>

            1. A fever above 101ºF (38ºC) or a temperature below 96.8ºF (36ºC) <br>

            2. Heart rate higher than 90 beats per minute <br>

            3. Breathing rate higher than 20 breaths per minute <br>

            4. Probable or confirmed infection <br>

            5. You must have two of these symptoms before a doctor can diagnose sepsis. <br> <br>
          </div>
           <div class="uk-card uk-card-default" style="margin-bottom:5%;padding-left: 3%;padding-top: 3%;width: 100%;">
            ‌<b>Severe sepsis</b> <br><br>


            <i>Sepsis occurs when there’s organ failure. You must have one or more of the following signs to be diagnosed with severe sepsis: </i><br><br>

            1. Patches of discolored skin <br>

            2. Decreased urination <br>

            3. Changes in mental ability <br>

            4. Low platelet (blood clotting cells) count <br>

            5. Problems breathing <br>

            6. Abnormal heart functions <br>

            7. Chills due to fall in body temperature <br>

            8. Unconsciousness <br>

            9. Extreme weakness <br><br>
          </div>
           <div class="uk-card uk-card-default" style="margin-bottom:5%;padding-left: 3%;padding-bottom: 2%;padding-top: 3%;width: 100%;">
           <b> ‌Septic shock</b> <br><br>

            <i>Symptoms of septic shock include the symptoms of:</i><br><BR>

            1. Severe sepsis, plus a very low blood pressure.<br>
        </p>
        </div>
       <hr>
    </div>

 </body>
